.bar {
  :hover {
    background-color: #5e86c1;
    color: white;
  }
}
.logo {
  color: #7b68ee;
  :hover {
    color: #5e86c1;
    animation-name: bigger;
    animation-duration: 2s;
  }
}
.accountInput {
  width: 25rem;
}

.post {
  :hover {
    background-color: #483d8b;
    color: rgb(221, 214, 214);
  }
}
.cardBox {
  :hover {
    background-color: #483d8b;
  }
}

.titleButton {
  border: 0;
  background-color: transparent;
  color: rgb(255, 254, 254);
}
.bi-gear-fill {
  animation-name: loadingRotate;
  animation-duration: 5s;
}

@keyframes loadingRotate {
  from {
    rotate: (0deg);
  }
  to {
    rotate: (360deg);
  }
}

@keyframes bigger {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 450px) {
  .accountInput {
    width: 70vw;
  }
}
