body {
  background-color: linear-gradient(45deg, red 50%, black 50%);
}

.bar {
  :hover {
    background-color: gray;
    color: white;
  }
}
.logo {
  color: purple;
  :hover {
    color: gray;
    animation-name: jump;
    animation-duration: 2s;
  }
}
.accountInput {
  width: 25rem;
}
.post {
  :hover {
    background-color: purple;
    color: rgb(221, 214, 214);
  }
}
.cardBox {
  :hover {
    background-color: purple;
  }
}

@keyframes jump {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
